offlinebuilder.iml
offlinebuilder-addon/offlinebuilder-addon.iml
offlinebuilder-demo/offlinebuilder-demo.iml
.idea/
offlinebuilder-addon/target/
offlinebuilder-demo/src/main/webapp/VAADIN/gwt-unitCache/
offlinebuilder-demo/src/main/webapp/VAADIN/widgetsets/
offlinebuilder-demo/target/
